<h2>By Region</h2>
<hr />
<div class="row">
  <div class="col">
    <shared-search-box
      [placeholder]="'Search Region'"
      (onValue)="searchRegion($event)"
      (onDebounce)="searchRegion($event)"
    ></shared-search-box>
  </div>
</div>

<div class="row">
    <div class="col">
      <shared-loading-spinner [nameSearch]="'Region'" *ngIf="isLoading"></shared-loading-spinner>
        <!-- Table Result -->
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>
